body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u77_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u79_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u80_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:470px;
  width:106px;
  height:35px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:382px;
  width:106px;
  height:35px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:559px;
  width:106px;
  height:35px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:655px;
  width:106px;
  height:35px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:761px;
  width:106px;
  height:35px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:400px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-4px;
  width:81px;
  height:8px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:488px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:80px;
  height:8px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:8px;
  height:8px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:577px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:80px;
  height:8px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-2px;
  width:8px;
  height:6px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:673px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:8px;
  height:6px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:779px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:82px;
  height:8px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:460px;
  width:100px;
  height:28px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:488px;
  width:100px;
  height:28px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:549px;
  width:100px;
  height:28px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:577px;
  width:100px;
  height:28px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:645px;
  width:100px;
  height:28px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:673px;
  width:100px;
  height:28px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:751px;
  width:100px;
  height:28px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:779px;
  width:100px;
  height:28px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:914px;
  width:106px;
  height:35px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:987px;
  width:106px;
  height:35px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1054px;
  width:106px;
  height:35px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1119px;
  width:106px;
  height:35px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1893px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1982px;
  width:110px;
  height:70px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1982px;
  width:100px;
  height:60px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:2140px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:2217px;
  width:110px;
  height:70px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:2207px;
  width:110px;
  height:70px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:2210px;
  width:110px;
  height:70px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:2217px;
  width:95px;
  height:56px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:2315px;
  width:95px;
  height:56px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:2273px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u113_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:2371px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:357px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:349px;
  width:10px;
  height:8px;
}
#u114_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u114_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:344px;
  width:19px;
  height:18px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2473px;
  width:101px;
  height:33px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2390px;
  width:101px;
  height:33px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2556px;
  width:101px;
  height:33px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2646px;
  width:101px;
  height:33px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2407px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:75px;
  height:8px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:8px;
  height:16px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2490px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u120_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:17px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2573px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:25px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:2663px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:72px;
  height:8px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:8px;
  height:35px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:2473px;
  width:95px;
  height:26px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:2646px;
  width:95px;
  height:26px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:2217px;
  width:95px;
  height:56px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:57px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:2315px;
  width:95px;
  height:56px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:91px;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:2273px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u127_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:2371px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:478px;
}
#u128_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:470px;
  width:6px;
  height:8px;
}
#u128_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u128_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:465px;
  width:19px;
  height:18px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:230px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2473px;
  width:101px;
  height:33px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2390px;
  width:101px;
  height:33px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2556px;
  width:101px;
  height:33px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2646px;
  width:101px;
  height:33px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2746px;
  width:101px;
  height:33px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2407px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:75px;
  height:8px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:8px;
  height:16px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2490px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:17px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2573px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:25px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2663px;
  width:0px;
  height:0px;
}
#u137_seg0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:72px;
  height:8px;
}
#u137_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:8px;
  height:35px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:2763px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-4px;
  width:76px;
  height:8px;
}
#u138_seg1 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-4px;
  width:8px;
  height:39px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2463px;
  width:95px;
  height:26px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2490px;
  width:95px;
  height:26px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2547px;
  width:95px;
  height:26px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2573px;
  width:95px;
  height:26px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2637px;
  width:95px;
  height:26px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2663px;
  width:95px;
  height:26px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2737px;
  width:95px;
  height:26px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2763px;
  width:95px;
  height:26px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:2210px;
  width:100px;
  height:60px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:2314px;
  width:100px;
  height:60px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:2838px;
  width:100px;
  height:60px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:3267px;
  width:100px;
  height:60px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:2270px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u151_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:2374px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u152_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:2898px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u153_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2482px;
  width:106px;
  height:35px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2394px;
  width:106px;
  height:35px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2571px;
  width:106px;
  height:35px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2667px;
  width:106px;
  height:35px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2773px;
  width:106px;
  height:35px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2412px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-4px;
  width:81px;
  height:8px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2500px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:80px;
  height:8px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:8px;
  height:8px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2589px;
  width:0px;
  height:0px;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:80px;
  height:8px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-2px;
  width:8px;
  height:6px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2685px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u162_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:8px;
  height:6px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2791px;
  width:0px;
  height:0px;
}
#u163_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:82px;
  height:8px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2472px;
  width:100px;
  height:28px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2500px;
  width:100px;
  height:28px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2561px;
  width:100px;
  height:28px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2589px;
  width:100px;
  height:28px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2657px;
  width:100px;
  height:28px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2685px;
  width:100px;
  height:28px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2763px;
  width:100px;
  height:28px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:2791px;
  width:100px;
  height:28px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2926px;
  width:106px;
  height:35px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:2999px;
  width:106px;
  height:35px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:3066px;
  width:106px;
  height:35px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:3131px;
  width:106px;
  height:35px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1315px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u176_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1361px;
  width:106px;
  height:35px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1434px;
  width:106px;
  height:35px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1501px;
  width:106px;
  height:35px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:2547px;
  width:95px;
  height:26px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:27px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:2573px;
  width:95px;
  height:26px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:3362px;
  width:106px;
  height:35px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:3435px;
  width:106px;
  height:35px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:3502px;
  width:106px;
  height:35px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:3327px;
  width:0px;
  height:0px;
}
#u185_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:275px;
}
#u185_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u185_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:258px;
  width:18px;
  height:19px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:198px;
  width:100px;
  height:60px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:302px;
  width:100px;
  height:60px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:266px;
  width:106px;
  height:35px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:327px;
  width:106px;
  height:35px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:382px;
  width:106px;
  height:35px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:284px;
  width:0px;
  height:0px;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:8px;
  height:56px;
}
#u193_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:44px;
  width:14px;
  height:8px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:400px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-72px;
  width:8px;
  height:76px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-72px;
  width:14px;
  height:8px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
